@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
:root {
  --c-primary: #b2b377;
  --p-8-16: 8px 16px;
  --m-8-0: 8px 0;
}

.login  {
  width: 100vw;
  height: 100vh;
  background-image: url("https://t3.ftcdn.net/jpg/05/89/70/46/360_F_589704609_b84XoVDaeopctL2Iz0lG4IQT86Dzm7xz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow:hidden;
}
.login .login-container {
  padding: 40px 20px;
  text-align: center;
}
.login .login-content {
  backdrop-filter: blur(6px);
  border: 2px solid #d2d18080;
  -webkit-box-shadow: -1px -1px 30px -8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: -1px -1px 30px -8px rgba(0, 0, 0, 0.9);
  box-shadow: -1px -1px 30px -8px rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 1.6rem;
  color: white;
}
.login .logo {
  font-size: 2rem;
}
.login h2 {
  font-size: 3rem;
  line-height: 2.8;
}
.login .login-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.2rem;
  max-width: 260px;
  margin: 0 auto;
}
.login .login-form input {
  width: 100%;
  background-color: #ffffff40;
  color: #fff;
  padding: var(--p-8-16);
  border-radius: 8px;
}
.login input {
  font-size: 1.2rem;
  border: none;
  margin: var(--m-8-0);
}
.login input::placeholder {
  color: #fff;
}
.login input[type="submit"] {
  border: none;
  background-color: var(--c-primary);
  color: #163020;
  font-weight: 600;
}
.login .login-netoworks,
.login .login-or {
  margin: 16px 0;
}
.login hr {
  width: 70%;
  border-color: #ffffff40;
}

.login .login-icons {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  max-width: 260px;
}
.login .login-icons li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ffffff40;
  padding: var(--p-8-16);
  margin: var(--m-8-0);
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 200;
}
.login .login-icons li > [type="logo"] {
  margin-right: 8px;
}

.login .login-footer {
  position: absolute;
  color: var(--c-primary);
  bottom:20px;
  left:50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 400px) {
    .login .login-content_header span.logo {
    display: none;
  }
  .login .login-container {
    padding: 0px;
    height: 100vh;
    margin: auto;
  }
  .login .login-content {
    position: absolute;
    right: 0px;
    width: 500px;
    height: 100%;
    max-height:100%;
    border: 0;
    border-left: 2px solid #d2d18080;
    border-radius: 0;
    max-width: 50%;
    margin:auto;
  }
  .login .login-content {
    animation: fRight 1s ease-in-out;
  }
  @keyframes fRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
  }
  .login .login-footer {
    left: 20px;
    transform: none;
  }
}

  
